# Virtual environments
.venv/
venv/
env/
.env
rag/chroma_store/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter / VSCode stuff
.ipynb_checkpoints/
.vscode/

# OS files
.DS_Store

# Model artifacts (if they get big)
fine_tuning/tinyllama_lora/
checkpoints/


